 html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 


 title {
    margin:auto;
    text-align: center;
    padding:5%;
   
 }


 body {
    background-color: #ec720b;
    margin:auto;
    text-align: center;
    
    }

 header {
    align-content: center;
    
 }


.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

/* Close when someone clicks on the "x" symbol inside the overlay */
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}

 main {
align-content: center;
background-color: #ec720b;
 }

table {
   border: 2px solid;
   background-color: #3d3d3e;
   margin-left: auto;
   margin-right: auto;
   color:white;

}



.grid {
    text-align: center;
    background-color: #3d3d3e;
    padding: 20px;
    font-size: larger;
    border-style: solid;
    border-color:black;
    align-content: center;
    color:white;
    
}

ul {
    list-style-type: none;
    background-color: #3d3d3e;
    
}

ul li {
    color: white;
    
   
}

/* Video Styling */
video {
    width: 500px;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 30px;
}

.video-title {
    text-align: center;
}

/* Desktop：隐藏按钮 */
#menu-button {
    display: none;
}

/* Mobile：显示按钮 */
@media screen and (max-width: 767px) {

    #menu-button {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav.show ul {
        display: block;
    }

}

