 html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 


 title {
    margin:auto;
    text-align: center;
    padding:5%;
   
 }


 body {
    background-color: #ec720b;
    margin:auto;
    text-align: center;
    
    }

 header {
    align-content: center;
    
 }

.active {
  width: 35px;
  height: 5px;
  text-align: center;
  margin: 6px 0;
}


.topnav {
  overflow: hidden;
  background-color: #3d3d3e;
  position: relative;
  
}


.topnav #myLinks {
  display: none;
}


.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.topnav a.icon {
  background: #3d3d3e;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.topnav a:hover {
  background-color: #BD5B09;
;
  color: white;
}


.active {
  background-color: #3d3d3e;
  color: white;
}

 
.icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  .topnav a.icon {
    display: block; 
  }
}



span {

    font-size: larger;
    font-weight: 500;
    float:left
}




 main {
align-content: center;
background-color: #ec720b;
 }

table {
   border: 2px solid;
   background-color: #3d3d3e;
   margin-left: auto;
   margin-right: auto;
   color:white;

}



.grid-container{
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  border-color: black;
border-width: 5px;
text-align: center;
}

.grid-item {
background-color: #3d3d3e;

}

   







  
  


ul {
    list-style-type: none;
    background-color: #3d3d3e;
    
}

ul li {
    color: white;
    
   
}

/* Video Styling */
video {
    width: 500px;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 30px;
}

.video-title {
    text-align: center;
}

/* Desktop：隐藏按钮 */
#menu-button {
    display: none;
}

/* Mobile：显示按钮 */
@media screen and (max-width: 767px) {

    #menu-button {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav.show ul {
        display: block;
    }

}

