 
 head {
   
   text-align: center;
 }

 title {
    margin:auto;
    text-align: center;
    padding:5%;
   
 }


 body {
    background-color: blanchedalmond;
    margin:auto;
    text-align: center;
    
    }

 header {
    align-content: center;

 }

 .navbar {
    margin:auto;
    align-content: center;

 }



 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  
}



 main {

 }

footer {
    
}
table {
   border: 2px solid black;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
}

li {
   font-size: 12pt;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 50;
   
}

.grid {
   text-align: center;
   background-color: bisque;
   padding: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: larger;
   border-style: solid;
   border-color:black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: bisque;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}


/* Video Styling */
video {
    width: 500px;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 30px;
}

.video-title {
    text-align: center;
}

/* Desktop：隐藏按钮 */
#menu-button {
    display: none;
}

/* Mobile：显示按钮 */
@media screen and (max-width: 767px) {

    #menu-button {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav.show ul {
        display: block;
    }

}

